.wrapper {
    display: inline-block;
    width: 100%;
}

.carousel-img {
    display: block;
    height: 0;
    width: 100%;
    overflow: hidden;
    padding: 28.125% 0;
    position: relative;

    img {
        object-fit: cover;
        border-radius: 4px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.virtual-element {
    display: block;
}
