.wrapper {
    --view-width: 850px;
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.container {
    width: var(--view-width);
    margin: 0 auto;
}
