.wrapper {
    display: inline-block;
    width: 100%;
}

.carousel-img {
    display: block;
    height: 0;
    width: 100%;
    overflow: hidden;
    padding: 35.714285714% 0;
    position: relative;

    img {
        border-radius: 4px;
        object-fit: cover;
        position: absolute;
        left: auto;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 50%;
    }
}

.rank-icon {
    color: #000;
    position: absolute;
    right: auto;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
}

.virtual-element {
    display: block;
}
